@import url('https://fonts.googleapis.com/css?family=poppins:400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
section .content {
    position: fixed;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}
section div.content div.first_div{
    position: fixed;
    top: 0%;
    height: 9%;
    width: 100%;
    background: rgb(107, 112, 92);
}
section div.content div.second_div{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 15px;
    top: 14%;
    height: 72%;
    width: 80%;
    margin-left: 10%;
    background: royalblue;
    overflow: hidden;
}
section div.content div.second_div div.one,section div.content div.second_div div.two{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 21px;
    margin: 10px;
    height: 90%;
    transition: 1s;
    background: darkseagreen
}
section div.content div.second_div div.one{
    width: 30%;
    padding: 15px;
}
section div.content div.second_div div.one h2{
    z-index: 3;
    font-size: 1.2em;
    color: white;
}
section div.content div.second_div div.two{
    width: 65%;
}
section div.content div.main_body div.two h2{
    z-index: 3;
}
section div.content div.last_div{
    position: fixed;
    bottom: 0%;
    height: 9%;
    width: 100%;
    background: rgb(107, 112, 92);
}
